.mb30 {
    margin-bottom: 30px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb0 {
    margin-bottom: 0;
}
.mauto {
    margin: 0 auto;
}
.mt60 {
    margin-top: 60px;
}
.mauto {
    margin: 0 auto;
}
.ml50 {
    margin-left: 50px;
}
.ml100 {
    margin-left: 100px;
}
